# Virtual environment
venv/
.env*
*.pyc
__pycache__/

# Logs and debug files
logs/
*.log

# Database and migrations
*.sqlite3
alembic/versions/

# System files
.DS_Store
Thumbs.db

# Python package files
*.egg-info/
dist/
build/

# IDE and Editor files
.vscode/
.idea/
*.iml

# Docker-related files
*.env

docker-compose.override.yml

# Ignore storage folders (if applicable)
storage/
server.py

*.db